<div
    class="bg-white rounded-tl-[40px] rounded-br-[90px] p-6 shadow-md flex justify-between items-center"
>
    <div class="flex flex-row items-center justify-center gap-4">
        <h1 class="text-2xl font-medium text-gray-500">Settings</h1>
        <svg
            width="24"
            height="24"
            viewBox="0 0 24 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M5.6665 3.33464L10.3332 8.0013L5.6665 12.668"
                stroke="#54B7C5"
                stroke-width="1.2"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M13.6665 3.33464L18.3332 8.0013L13.6665 12.668"
                stroke="#54B7C5"
                stroke-width="1.2"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
        </svg>
        <h1 class="text-2xl font-medium text-[#54B7C5]">Amenities</h1>
    </div>
    <div class="flex items-center gap-4 mr-4">
        <div class="relative">
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <svg
                    class="h-5 w-5 text-gray-400"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                    />
                </svg>
            </div>
            <input
                type="text"
                placeholder="Search"
                class="block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-lg bg-white shadow-sm focus:outline-none focus:ring-1 focus:ring-[#54B7C5] focus:border-[#54B7C5] sm:text-sm"
            />
        </div>
    </div>
</div>

<div class="p-8 mx-auto">
    <!-- Card -->
    <div class="w-[1400px] bg-white rounded-2xl p-4 mx-auto">
        <div class="flex h-[627px]">
            <!-- Sidebar -->
            <div class="w-60 pr-6 border-r border-gray-300">
                <ul class="space-y-2 text-gray-700 text-sm font-medium">
                    <li>
                        <a
                            href="/bmadmin/settings/bussinessdetails"
                            class="block px-4 py-2 rounded-md hover:bg-gray-100"
                        >
                            Bussiness Details
                        </a>
                    </li>
                    <li>
                        <a
                            href="/bmadmin/settings/adminprofile"
                            class="block px-4 py-2 rounded-md hover:bg-gray-100"
                        >
                            Admin Profile
                        </a>
                    </li>
                    <li>
                        <a
                            href="/bmadmin/settings/subadmin"
                            class="block px-4 py-2 rounded-md hover:bg-gray-100"
                        >
                            Sub Admin
                        </a>
                    </li>
                    <li>
                        <a
                            href="/bmadmin/settings/residencedetails"
                            class="block px-4 py-2 rounded-md hover:bg-gray-100"
                        >
                            Residence Details
                        </a>
                    </li>
                    <li>
                        <a
                            href="/bmadmin/settings/amenities"
                            class="block px-4 py-2 rounded-md bg-[#def2f1] text-[#163f75] font-semibold"
                        >
                            Amenities
                        </a>
                    </li>
                    <li>
                        <a
                            href="/bmadmin/settings/bankdetails"
                            class="block px-4 py-2 rounded-md hover:bg-gray-100"
                        >
                            Bank Details
                        </a>
                    </li>
                    <li>
                        <a
                            href="/bmadmin/settings/subscriptionplan"
                            class="block px-4 py-2 rounded-md hover:bg-gray-100"
                        >
                            Subscription Plan
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Profile Info Card -->
            <div class="flex-1 pl-10 pr-6 overflow-y-auto h-full">
                <div class="space-y-5 pt-2">
                    <!-- Top Header with Arrow and Sports Title -->
                    <div class="relative w-full border-b border-gray-300 pt-4 pb-2">
                        <!-- Back Arrow (Left aligned) -->
                        <button
                            onclick="window.location.href='/bmadmin/settings/amenities'"
                            class="absolute left-0 top-1/2 -translate-y-1/2 ml-4"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-6 w-6 text-[#163F75]"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M15 19l-7-7 7-7"
                                />
                            </svg>
                        </button>

                        <!-- Center Title -->
                        <h1 class="text-center text-xl font-semibold text-gray-800 pb-2">Sports</h1>
                    </div>

                    <!-- Tennis -->
                    <div class="flex justify-between items-center border-b pb-3">
                        <div class="flex items-center gap-3">
                            <img
                                src="<%= process.env.APP_URL_ADMIN %>/images/sports/Tennis.png"
                                alt="Tennis"
                                class="w-8 h-8 rounded-md"
                            />
                            <p class="font-medium text-gray-800">Tennis</p>
                        </div>
                        <label class="relative inline-block w-12 h-7 cursor-pointer">
                            <input type="checkbox" class="sr-only peer" />
                            <div
                                class="absolute top-0 left-0 right-0 bottom-0 bg-white border border-[#163F75] rounded-full peer-checked:bg-[#163F75] transition-colors duration-300"
                            ></div>
                            <div
                                class="absolute top-0.5 left-0.5 w-6 h-6 bg-white border border-black rounded-full transition-transform duration-300 peer-checked:translate-x-5"
                            ></div>
                        </label>
                    </div>

                    <!-- Squash -->
                    <div class="flex justify-between items-center border-b pb-3">
                        <div class="flex items-center gap-3">
                            <img
                                src="<%= process.env.APP_URL_ADMIN %>/images/sports/Squash.png"
                                alt="Squash"
                                class="w-8 h-8 rounded-md"
                            />
                            <p class="font-medium text-gray-800">Squash</p>
                        </div>
                        <label class="relative inline-block w-12 h-7 cursor-pointer">
                            <input type="checkbox" class="sr-only peer" />
                            <div
                                class="absolute top-0 left-0 right-0 bottom-0 bg-white border border-[#163F75] rounded-full peer-checked:bg-[#163F75] transition-colors duration-300"
                            ></div>
                            <div
                                class="absolute top-0.5 left-0.5 w-6 h-6 bg-white border border-black rounded-full transition-transform duration-300 peer-checked:translate-x-5"
                            ></div>
                        </label>
                    </div>

                    <!-- Padel -->
                    <div class="flex justify-between items-center border-b pb-3">
                        <div class="flex items-center gap-3">
                            <img
                                src="<%= process.env.APP_URL_ADMIN %>/images/sports/Padel.png"
                                alt="Padel"
                                class="w-8 h-8 rounded-md"
                            />
                            <p class="font-medium text-gray-800">Padel</p>
                        </div>
                        <label class="relative inline-block w-12 h-7 cursor-pointer">
                            <input type="checkbox" class="sr-only peer" />
                            <div
                                class="absolute top-0 left-0 right-0 bottom-0 bg-white border border-[#163F75] rounded-full peer-checked:bg-[#163F75] transition-colors duration-300"
                            ></div>
                            <div
                                class="absolute top-0.5 left-0.5 w-6 h-6 bg-white border border-black rounded-full transition-transform duration-300 peer-checked:translate-x-5"
                            ></div>
                        </label>
                    </div>

                    <!-- Golf -->
                    <div class="flex justify-between items-center border-b pb-3">
                        <div class="flex items-center gap-3">
                            <img
                                src="<%= process.env.APP_URL_ADMIN %>/images/sports/Golf.png"
                                alt="Golf"
                                class="w-8 h-8 rounded-md"
                            />
                            <p class="font-medium text-gray-800">Golf</p>
                        </div>
                        <label class="relative inline-block w-12 h-7 cursor-pointer">
                            <input type="checkbox" class="sr-only peer" />
                            <div
                                class="absolute top-0 left-0 right-0 bottom-0 bg-white border border-[#163F75] rounded-full peer-checked:bg-[#163F75] transition-colors duration-300"
                            ></div>
                            <div
                                class="absolute top-0.5 left-0.5 w-6 h-6 bg-white border border-black rounded-full transition-transform duration-300 peer-checked:translate-x-5"
                            ></div>
                        </label>
                    </div>

                    <!-- Bowling -->
                    <div class="flex justify-between items-center border-b pb-3">
                        <div class="flex items-center gap-3">
                            <img
                                src="<%= process.env.APP_URL_ADMIN %>/images/sports/Bowling.png"
                                alt="Bowling"
                                class="w-8 h-8 rounded-md"
                            />
                            <p class="font-medium text-gray-800">Bowling</p>
                        </div>
                        <label class="relative inline-block w-12 h-7 cursor-pointer">
                            <input type="checkbox" class="sr-only peer" />
                            <div
                                class="absolute top-0 left-0 right-0 bottom-0 bg-white border border-[#163F75] rounded-full peer-checked:bg-[#163F75] transition-colors duration-300"
                            ></div>
                            <div
                                class="absolute top-0.5 left-0.5 w-6 h-6 bg-white border border-black rounded-full transition-transform duration-300 peer-checked:translate-x-5"
                            ></div>
                        </label>
                    </div>

                    <!-- Basketball -->
                    <div class="flex justify-between items-center border-b pb-3">
                        <div class="flex items-center gap-3">
                            <img
                                src="<%= process.env.APP_URL_ADMIN %>/images/sports/Basketball.png"
                                alt="Basketball"
                                class="w-8 h-8 rounded-md"
                            />
                            <p class="font-medium text-gray-800">Basketball</p>
                        </div>
                        <label class="relative inline-block w-12 h-7 cursor-pointer">
                            <input type="checkbox" class="sr-only peer" />
                            <div
                                class="absolute top-0 left-0 right-0 bottom-0 bg-white border border-[#163F75] rounded-full peer-checked:bg-[#163F75] transition-colors duration-300"
                            ></div>
                            <div
                                class="absolute top-0.5 left-0.5 w-6 h-6 bg-white border border-black rounded-full transition-transform duration-300 peer-checked:translate-x-5"
                            ></div>
                        </label>
                    </div>

                    <!-- Game Room -->
                    <div class="flex justify-between items-center border-b pb-3">
                        <div class="flex items-center gap-3">
                            <img
                                src="<%= process.env.APP_URL_ADMIN %>/images/sports/GameRoom.png"
                                alt="Game Room"
                                class="w-8 h-8 rounded-md"
                            />
                            <p class="font-medium text-gray-800">Game Room</p>
                        </div>
                        <label class="relative inline-block w-12 h-7 cursor-pointer">
                            <input type="checkbox" class="sr-only peer" />
                            <div
                                class="absolute top-0 left-0 right-0 bottom-0 bg-white border border-[#163F75] rounded-full peer-checked:bg-[#163F75] transition-colors duration-300"
                            ></div>
                            <div
                                class="absolute top-0.5 left-0.5 w-6 h-6 bg-white border border-black rounded-full transition-transform duration-300 peer-checked:translate-x-5"
                            ></div>
                        </label>
                    </div>

                    <!-- Ping Pong -->
                    <div class="flex justify-between items-center border-b pb-3">
                        <div class="flex items-center gap-3">
                            <img
                                src="<%= process.env.APP_URL_ADMIN %>/images/sports/PingPong.png"
                                alt="Ping Pong"
                                class="w-8 h-8 rounded-md"
                            />
                            <p class="font-medium text-gray-800">Ping Pong</p>
                        </div>
                        <label class="relative inline-block w-12 h-7 cursor-pointer">
                            <input type="checkbox" class="sr-only peer" />
                            <div
                                class="absolute top-0 left-0 right-0 bottom-0 bg-white border border-[#163F75] rounded-full peer-checked:bg-[#163F75] transition-colors duration-300"
                            ></div>
                            <div
                                class="absolute top-0.5 left-0.5 w-6 h-6 bg-white border border-black rounded-full transition-transform duration-300 peer-checked:translate-x-5"
                            ></div>
                        </label>
                    </div>

                    <!-- Billiard -->
                    <div class="flex justify-between items-center border-b pb-3">
                        <div class="flex items-center gap-3">
                            <img
                                src="<%= process.env.APP_URL_ADMIN %>/images/sports/Billiard.png"
                                alt="Billiard"
                                class="w-8 h-8 rounded-md"
                            />
                            <p class="font-medium text-gray-800">Billiard</p>
                        </div>
                        <label class="relative inline-block w-12 h-7 cursor-pointer">
                            <input type="checkbox" class="sr-only peer" />
                            <div
                                class="absolute top-0 left-0 right-0 bottom-0 bg-white border border-[#163F75] rounded-full peer-checked:bg-[#163F75] transition-colors duration-300"
                            ></div>
                            <div
                                class="absolute top-0.5 left-0.5 w-6 h-6 bg-white border border-black rounded-full transition-transform duration-300 peer-checked:translate-x-5"
                            ></div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
